#gameover {
  width: 670px;
  margin: 0 auto;
  background-color: hsl(240, 100%, 99%);
  padding: 1.5rem;
  box-shadow: rgb(253, 250, 250) 0px 7px 29px 0px;
  margin-bottom: 1%;
}

#gameover h2,
#gameover p {
  margin-bottom: 1rem;
  text-align: center;
}

#gameover p {
  color: #050505;
}

#gameover img {
  margin: 2rem auto;
  height: 200px;
}

p{
  text-align: justify;
}